<!-- Footer -->
<footer id="footer">
    <div class="container">
        <!--<div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Accumsan</h3>
                        <ul class="alt">
                            <li><a href="#">Nascetur nunc varius</a></li>
                            <li><a href="#">Vis faucibus sed tempor</a></li>
                            <li><a href="#">Massa amet lobortis vel</a></li>
                            <li><a href="#">Nascetur nunc varius</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>Faucibus</h3>
                        <ul class="alt">
                            <li><a href="#">Nascetur nunc varius</a></li>
                            <li><a href="#">Vis faucibus sed tempor</a></li>
                            <li><a href="#">Massa amet lobortis vel</a></li>
                            <li><a href="#">Nascetur nunc varius</a></li>
                        </ul>
                    </div>
                </div>
                <h2>Aliquam Interdum</h2>
                <p>Blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan justo aliquet.</p>
            </div>-->
            <div class="align-center">
                <ul class="icons">
                    <li><a target="_blank" href="https://twitter.com/samukasmk" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a target="_blank" href="https://facebook.com/samukasmk" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/pythonbr" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a target="_blank" href="https://t.me/samukasmk" class="icon fa-telegram"><span class="label">Telegram</span></a></li>
                    <li><a target="_blank" href="https://github.com/samukasmk" class="icon fa-github"><span class="label">GitHub</span></a></li>
                    <li><a target="_blank" href="mailto:samuel@smk.net.br" class="icon fa-envelope"><span class="label">Email</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; Samuel Maciel Sampaio. All rights reserved.</li>
        </ul>
    </div>
</footer>
